@import "./vars";
@import "./btn-input";
@import "./modal";

html,
body {
  background-color: $page-back-color;
  height: 100%;
  margin: 0px;
}

.game-container {
  position: fixed;

  // height: 100%;
  @include fill;

  display: flex;
  align-items: center;
  justify-content: center;

  > div:nth-child(1) {
    position: absolute;
    align-self: flex-start;
  }
}

.grid-container {
  display: grid;
  background-color: rgb(50, 50, 50);
  border-radius: 5px;
}
