@import "./vars";

@mixin el3D {
  font-family: "Fira Mono", monospace;
  outline: none;
  border: none;
  padding: $btn-padding;
  margin: $btn-margin;
  font-size: $main-font-size;
  border-radius: $btn-border-radius;
  -webkit-tap-highlight-color: transparent;

  @each $color, $val in $colors {
    &.#{$color} {
      @include color($val);
    }
  }

  &.small {
    padding: 5px;
    font-size: large;

    > * {
      font-size: large;
    }
  }

  &.tiny {
    padding: 2px;
    font-size: medium;

    > * {
      font-size: medium;
    }
  }
}

@mixin el3Dpressed($cl) {
  transform: translateY($btn-3d-height);
  box-shadow: inset 0px 5px 5px darken($cl, $shadow-darkness);
}

@mixin color($cl) {
  background: $cl;
  color: $btn-fore-color;
  box-shadow: 0px $btn-3d-height darken($cl, $shadow-darkness);

  &:active {
    transform: translateY($btn-3d-height);
    box-shadow: inset 0px 5px 5px darken($cl, $shadow-darkness);
  }
}

.btn-3d {
  cursor: pointer;
  user-select: none;

  @include el3D;
  @include color($btn-blue);

  &:active {
    @include el3Dpressed($btn-blue);
  }

  > span {
    vertical-align: text-bottom;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
}

.input-3d {
  @include el3D;

  @include color($btn-orange);

  // box-shadow: 0px $btn-3d-height darken($input-back-color, $shadow-darkness);

  &::-webkit-input-placeholder {
    color: alpha($modal-back-color);
  }

  &:focus {
    @include el3Dpressed($btn-orange);
  }
}

.range-3d {
  background: $btn-blue;
  height: 5px;
  outline: none;
  margin: $range-margin 0px $range-margin 0px;

  @include reset;

  &::-webkit-slider-thumb {
    @include reset;

    width: 20px;
    height: 20px;
    border-radius: $border-radius;
    background: $btn-orange;
    cursor: pointer;
    box-shadow: 0px $btn-3d-height darken($btn-orange, $shadow-darkness);
    transform: translateY(-$btn-3d-height);

    &:active {
      transform: translateY(0px);
      box-shadow: inset 0px 5px 5px darken($btn-orange, $shadow-darkness);
    }
  }
}

.radio-3d {
  > label {
    display: inline-block;
    cursor: pointer;

    @include color($btn-blue);
    @include el3D;
  }

  > input {
    display: none;
  }

  > input:checked + label {
    @include el3Dpressed($btn-blue);
  }
}
